html {
  font-size: 26.66667vw;
}
body {
  font-size: .14rem;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
#header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #006699;
  color: #fff;
}
#header .left,
#header .right {
  width: .45rem;
  height: .45rem;
}
#header .left a,
#header .right a {
  display: block;
  text-align: center;
  line-height: .45rem;
  color: #fff;
}
#header .center {
  flex: 1;
  text-align: center;
}
#header .center h4 {
  line-height: .45rem;
}
#header .center form {
  padding-top: .05rem;
}
#header .center form input {
  background-color: #fff;
  height: .35rem;
  margin-bottom: 0;
  text-align: left;
  font-size: .14rem;
  color: #000;
}
#main {
  padding: .45rem 0;
  height: 100vh;
}
#main .mui-scroll-wrapper {
  position: relative;
  height: 100%;
}
#main .mui-scroll-wrapper .mui-scroll {
  min-height: 100.1%;
}
#main .search-form {
  margin: .1rem;
  display: flex;
}
#main .search-form input {
  flex: 1;
  height: .34rem;
  border: 1px solid #006699;
  border-radius: .06rem 0 0 .06rem;
  margin-bottom: 0;
  font-size: .14rem;
}
#main .search-form button {
  width: .6rem;
  height: .34rem;
  background-color: #006699;
  border-color: #006699;
  border-radius: 0 .06rem .06rem 0;
}
#main .search-form button:active {
  background-color: #006699;
  border-color: #006699;
}
#footer {
  position: fixed;
  bottom: 0;
  background-color: #006699;
  width: 100%;
}
#footer ul {
  margin: 0;
  padding: 0;
}
#footer ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: .45rem;
  color: #fff;
}
#footer ul a i {
  font-size: .18rem;
}
#footer ul a span {
  font-size: .12rem;
  line-height: 1.4;
}
#footer ul a.active {
  color: orange;
}
#main {
  padding-bottom: .8rem;
}
#main .cart-list li a {
  display: flex;
}
#main .cart-list li a .left {
  width: .8rem;
  text-align: center;
}
#main .cart-list li a .left img {
  width: 100%;
}
#main .cart-list li a .left input {
  position: static;
  width: .2rem;
  height: .2rem;
}
#main .cart-list li a .left input::before {
  font-size: .2rem;
}
#main .cart-list li a .right {
  flex: 1;
  padding: 0 .1rem;
  line-height: .26rem;
}
#main .cart-list li a .right .product-name {
  color: #000;
}
#main .cart-list li a .right .product-price {
  color: #666;
}
#main .cart-list li a .right .product-price strong {
  color: red;
}
#main .cart-list li a .right .product-params {
  display: flex;
  justify-content: space-between;
}
#main .cart-list li a:not(.mui-btn) {
  white-space: normal;
}
#main .cart-list li::after {
  left: 0;
}
#order {
  position: fixed;
  bottom: .45rem;
  width: 100%;
  height: .35rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  line-height: .35rem;
}
#order .order-count {
  color: red;
  font-weight: bold;
  margin-left: .2rem;
}
.mui-popup-inner {
  padding: 0.15rem 0.1rem;
}
.mui-popup-inner li {
  padding: 0.11rem 0;
}
.mui-popup-inner li span {
  line-height: .33rem;
}
.mui-popup-inner li span button {
  margin-bottom: 0.05rem;
}
.mui-popup-inner li::after {
  left: 0;
}
